body {
	background-color: #b7ffd2;
	font-family: 'Life Savers', cursive;
	color: #00ac6b;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

@keyframes slide {
	from { transform: translateX(0); }
	to { transform: translateX(460px); }
}

@-webkit-keyframes slide {
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(460px); }
}

#mobile {
	height: 300px;
	/*animation: spin 15s 0s ease infinite; */
}

#wire {
    background: #2ecc6d;
    width: 10px;
    position: relative;
    margin-left: 100px;
    height: 75px;
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
}

#mobile-bar {
    background: #2ecc6d;
    width: 500px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;

}

.mobile-string {
    background: #0be964;
    width: 5px;
    position: relative;
    display: inline;
    float: left;
    height: 50px;
    z-index: -1;
}

.string1 {
	height: 50px;
	margin-left: 0;
	animation: slide 4s 0s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 0s linear infinite;
	-webkit-animation-direction: alternate;
}

.string2 {
	height: 65px;
	animation: slide 4s 1s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 1s linear infinite;
	-webkit-animation-direction: alternate;
}

.string3 {
	height: 65px;
	animation: slide 4s 2s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 2s linear infinite;
	-webkit-animation-direction: alternate;
}

.string4 {
	height: 75px;
	animation: slide 4s 3s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 3s linear infinite;
	-webkit-animation-direction: alternate;
}

.string5 {
	animation: slide 4s 4s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 4s linear infinite;
	-webkit-animation-direction: alternate;
}

.string6 {
	animation: slide 4s 5s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 5s linear infinite;
	-webkit-animation-direction: alternate;
}

.string7 {
	animation: slide 4s 6s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 6s linear infinite;
	-webkit-animation-direction: alternate;
}
.string8 {
	animation: slide 4s 7s linear infinite;
	animation-direction: alternate;
	-webkit-animation: slide 4s 7s linear infinite;
	-webkit-animation-direction: alternate;
}

.icon {
	display: inline;
	position: relative;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom:	-100px;
	background-size: 70px;
	background-repeat: no-repeat;
	left: -43px;
}

.giraffe {
	background-image: url("../images/giraffe.png");
	left: -23px;
	bottom: -89px;
}

.sharath {
	background-image: url("../images/sharath.png");
	left: -27px;
	background-size: 60px;
	bottom: -97px;
}

.shwetha {
	background-image: url("../images/shwetha.png");
	left: -23px;
}

.elephant {
	background-image: url("../images/elephant.png");
	left: -40px;
	bottom: -89px;
}

.tiger {
	background-image: url("../images/tiger.png");
	left: -23px;
	bottom: -95px;
}

.monkey {
	background-image: url("../images/monkey.png");
	left: -33px;
}

.bear {
	background-image: url("../images/bear.png");
	left: -43px;
	bottom: -95px;
}

.hippo {
	background-image: url("../images/hippo.png");
	left: -23px;
	bottom: -89px;
}
