@keyframes spin {
	from { transform: rotateY(0deg); }
	to { transform: rotateY(360deg); }
}

@keyframes fall {
	from { transform: translate(0, 0); }
  to { transform: translate(0, 1200px); }
}

@keyframes dangle {
	0% { transform: scaleY(1); }
  50% { transform: scaleY(2) translateY(25%); }
  100% { transform: scaleY(1); }
}

.fall-wrapper {
	animation: fall 10s 0s linear infinite;
}
.mobile-img {
	background-image: url("../images/mobile.jpg");
	height: 146px;
	width: 170px;
	animation: spin 4s 0s linear infinite;
	/*animation-name: spin;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;*/
}

#mobile {
	height: 700px;
	background:	white;
	animation: spin 15s 0s ease infinite; 
}

#mobile-bar {
    background: black;
    width: 700px;
    height: 10px;
    position: relative;
    margin: 0 auto;
}

.mobile-string {
    background: black;
    width: 10px;
    position: relative;
    display: inline;
    margin-left: 100px;
    float: left;
}

.string1 {
	height: 50px;
	animation: dangle 4s 0s linear infinite;

}

.string2 {
	height: 150px;
	animation: dangle 5s 0s ease infinite;
}

.string3 {
	height: 100px;
	animation: dangle 10s 0s ease-out infinite;
}

.string4 {
	height: 250px;
	animation: dangle 4s 0s linear infinite;
}

.string5 {
	height: 75px;
	animation: dangle 4s 0s linear infinite;
}