@keyframes spin {
	from { transform: rotateY(0deg); }
	to { transform: rotateY(360deg); }
}

.fall-wrapper {
	animation: fall 10s 0s linear infinite;
}
.mobile-img {
	background-image: url("../images/mobile.jpg");
	height: 146px;
	width: 170px;
	animation: spin 4s 0s linear infinite;
	/*animation-name: spin;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;*/
}

#mobile {
	height: 700px;
	background:	white;
	animation: spin 15s 0s ease infinite; 
}

#mobile-bar {
    background: black;
    width: 780px;
    height: 10px;
    position: relative;
    margin: 0 auto;
}

.mobile-string {
    background: black;
    width: 10px;
    position: relative;
    display: inline;
    margin-left: 100px;
    float: left;
    height: 50px;
}

.string1 {
	height: 100px;
	margin-left: 0;
}

.string2 {
	height: 75px;
}

.string3 {
	height: 100px;
}

.string4 {
}

.string5 {
}

.string6 {
}

.string7 {
}
.string8 {
}

.icon {
	display: inline;
	position: relative;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom:	-100px;
	background-image: url("../images/sharath.png");
	background-size: 70px;
	background-repeat: no-repeat;
	left: -43px;
}

.giraffe {
	background-image: url("../images/giraffe.png");
}

.sharath {
	background-image: url("../images/sharath.png");
}

.shwetha {
	background-image: url("../images/shwetha.png");
}

.elephant {
	background-image: url("../images/elephant.png");
}

.tiger {
	background-image: url("../images/tiger.png");
}

.monkey {
	background-image: url("../images/monkey.png");
	left: -43px;
}

.bear {
	background-image: url("../images/bear.png");
	left: -43px;
}

.hippo {
	background-image: url("../images/hippo.png");
	left: -43px;
}
